@font-face {
    font-family: 'fuente-1';
    src: url('/img/Fonts/cream_peach/Cream\ Peach.ttf') format('truetype');
}

@font-face {
    font-family: 'fuente-2';
    src:
        url('/img/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'fuente-3';
    src: url('/img/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');

}

@font-face {
    font-family: 'fuente-4';
    src: url('/img/Fonts/HelveticaNeue-Medium_0.otf') format('opentype');

}

@font-face {
    font-family: 'fuente-5';
    src: url('/img/Fonts/myriadpro-regular.otf')format('opentype');

}

@font-face {
    font-family: 'fuente-6';
    src: url('/img/Fonts/Gobold\ Hollow\ Bold.otf')format('opentype');

}

@font-face {
    font-family: 'fuente-7';
    src: url('/img/Fonts/Chunk\ Five\ Print.otf')format('opentype');

}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-size: 14px;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: 'fuente-3', sans-serif;
    color: rgb(84, 84, 84);
    margin: 0;
}

.container {
    width: min(144rem, 90%);
    margin: 0 auto;
    text-align: center;
}

.container_secundary {
    width: min(108rem, 90%);
    margin: 0 auto;
    text-align: center;
}

/* Header */
header {
    position: relative;
    display: flex;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 999;
}

header img {
    width: 80px;
    height: auto;
}

nav {
    display: flex;
    gap: 3rem;
    color: white;
    font-weight: bold;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    fill: white;
    gap: 5px;
}

nav a:hover {
    color: rgb(220, 220, 220);
    transition: all 0.5s ease;
    color: rgb(179, 146, 26);
    transition: all 0.5s ease;
}

nav a:hover svg {
    fill: rgb(179, 146, 26);
    transition: all 0.5s ease;
}

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}


/* Responsive styles */
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border: 1px solid #fff;
        border-radius: 10px;
    }

    nav a {
        margin: 10px 0;
        text-align: center;
    }

    #menu-icon {
        display: block;
    }

    nav.active {
        display: flex;
    }
}


/* Fotter */
footer {
    height: 60px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.952);
    color: rgb(226, 253, 253);
    font-size: 14px;
    text-align: center;
}


/* Home */
.container_home {
    background-image: url(../img/LUGAR.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: -60px;
    position: relative;
    display: grid;
    place-items: center;
    font-family: 'fuente-1', sans-serif;
    font-size: 50px;
    color: rgba(216, 216, 216, 0.607);
    text-align: center;

}

@media (max-width: 768px) {
    .container_home {
        height: 60vh;

    }

}

.container_cicle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.container_cicle .cicle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    margin-top: -100px;
}

.container_cicle .cicle_bottom {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: -100px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 100px;

}

.welcome h1 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.c_info_welcome {
    max-width: 75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.c_img_welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    font-family: 'fuente-1', sans-serif;
    letter-spacing: 1.3px;
}

.img_welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.c_img_welcome img {
    width: 450px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .c_img_welcome img {
        max-width: 95%;
        height: auto;
    }
}

.container_secundary h1,
h4 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.main_check {
    background-image: url(../img//Recurso\ 3@2x-100.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    padding: 5rem 0;
    color: white;

}

.container_check {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .container_check {
        display: flex;
        flex-direction: column;
    }
}

.card_specials {
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 60% 35%;
    place-items: center;
    background-color: white;
    color: gray;
    gap: 1rem;
}

.card_specials img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card_specials_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.card_specials_info p {
    align-items: start;
    font-size: 12px;
}

/* end home */

/* Menu */
.container_menu {
    height: 100%;

}

.menu_container {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 100px 20px 0 20px */

}

.menu_container h1 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.menu_container h4 {
    margin: 5rem 0;
    font-size: 16px;
    text-align: center;
}

.container_subtitle {
    max-width: 60rem;
    display: grid;
    place-items: center;
    text-align: center;

}

.container_info_menu {
    background-image: url(../img/Recurso\ 1-100.jpg);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    /* margin: 5rem; */
}

@media (max-width: 992px) {
    .container_info_menu {
        height: auto;
    }
}

.card_menu_container {
    max-width: 85rem;
    width: 100%;
    background-color: rgb(226, 226, 226);
    margin-top: -5vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 992px) {
    .card_menu_container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}

.card_menu_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black(234, 234, 234);
    letter-spacing: 1.1px;
    font-size: 12px;
    padding: 3rem;
    gap: 1rem;
    text-align: center;
    height: 220px;
}

.card_menu_text h3,
strong {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.card_menu_text strong {
    font-size: 14px;
    color: rgb(179, 146, 26);
}

.card_menu_text p {
    font-size: 10px;
}

.card_menu_img {
    width: 100%;
    height: 220px;

}

.card_menu_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_menu_hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 4rem;
}

.card_menu_hours h1 {
    font-size: 4rem;
    margin: 0;
}

.button_menu {
    margin: 2rem 0;
}

.button_menu button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(179, 146, 26);
    color: white;
}

.button_menu button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(179, 146, 26);
    border: 1px solid rgb(179, 146, 26);
    letter-spacing: 1.2px;
    transition: all 0.5s ease;
}

/* end menu */

/* Contact */
.container_contact {
    height: 100%;
}

.contact_content_container {
    background-image: url(../img/Recurso\ 3@2x-100.jpg);
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 50px 0;
}

@media (max-width: 768px) {
    .contact_content_container {
        height: 100%;
    }

}

.contact_grid_int {
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 992px) {
    .contact_grid_int {
        flex-direction: column;
        gap: 10rem
    }
}

.content_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.content_info h3 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
    color: white;
}

.content_info strong {
    color: rgb(179, 146, 26);
}

.content_info p {
    color: white;
}

.content_reservation {
    width: 280px;
    height: 320px;
    background-color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 2rem;
    gap: 1rem;
}

.content_reservation h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.content_reservation p {
    font-size: 12px;
    border-bottom: 2px dashed rgb(183, 183, 183);
    padding: 4px;
}

.content_reservation h2 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.button_contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button_contact button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(179, 146, 26);
    color: white;
}

.button_contact button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(179, 146, 26);
    border: 1px solid rgb(179, 146, 26);
    letter-spacing: 1.2px;
    transition: all 0.5s ease;
}

.container_cicle_black {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: transparent;
}

.container_cicle_black .cicle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(23, 23, 23);
    margin-top: -50px;
}

.container_cicle_black .cicle_bottom {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(23, 23, 23);
    margin-bottom: -50px;
}

/* end contact */