@font-face {
    font-family: 'fuente-1';
    src: url('/img/Fonts/cream_peach/Cream\ Peach.ttf') format('truetype');
}

@font-face {
    font-family: 'fuente-2';
    src:
        url('/img/Fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
    font-family: 'fuente-3';
    src: url('/img/Fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');

}

@font-face {
    font-family: 'fuente-4';
    src: url('/img/Fonts/BakerStreet-Inline.ttf') format('truetype');

}

@font-face {
    font-family: 'fuente-5';
    src: url('/img/Fonts/myriadpro-regular.otf')format('opentype');

}

@font-face {
    font-family: 'fuente-6';
    src: url('/img/Fonts/Gobold\ Hollow\ Bold.otf')format('opentype');

}

@font-face {
    font-family: 'fuente-7';
    src: url('/img/Fonts/Chunk\ Five\ Print.otf')format('opentype');

}


html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    font-size: 16px;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: "Roboto", sans-serif;
    font-weight: 400 !important;
    color: rgb(84, 84, 84);
    margin: 0;
}

.font-4 {
    font-family: 'fuente-4', sans-serif !important;
    font-size: 24px;
}

.font-4_16 {
    font-family: 'fuente-4', sans-serif !important;
    font-size: 22px !important;
}

.font-6 {
    font-family: 'fuente-6', sans-serif !important;
    font-size: 44px !important;
}

.p_color {
    color: #DAA520;
}

.container {
    width: min(144rem, 90%);
    margin: 0 auto;
    text-align: center;
}

.container_secundary {
    width: min(108rem, 90%);
    margin: 0 auto;
    text-align: center;
}

iframe {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

main {
    background-image: url('/img/Recurso\ 16.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Header */
header {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.233);
    z-index: 999;
}

header img {
    width: 100px;
    height: auto;
}

nav {
    display: flex;
    gap: 3rem;
    color: white;
    font-weight: bold;
}

nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    fill: white;
    gap: 5px;
}

nav a:hover {
    color: rgb(220, 220, 220);
    transition: all 0.5s ease;
    color: rgb(179, 146, 26);
    transition: all 0.5s ease;
    cursor: pointer;
}

nav a:hover svg {
    fill: rgb(179, 146, 26);
    transition: all 0.5s ease;
}

#menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.font-xl {
    font-size: 10rem !important;
    margin: 2rem 0 !important;
    letter-spacing: 1rem !important;
}

.overlay_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    place-items: center;
    overflow: hidden;
    place-items: center;
}

.modal {
    background-color: white;
    width: 250px;
    height: auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    position: relative;
}

.modal .close-modal {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.modal .close-modal svg {
    width: 30px;
    height: 30px;
}

.modal a {
    padding: 0 2rem;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    color: #333;
    border-radius: 10px;
}

.modal a:hover {
    background-color: rgb(235, 235, 235);
    transition: all 0.5s ease;
}

.modal_img {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.modal_options {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.modal_options img {
    width: 30px;
    height: 30px;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        border: 1px solid #fff;
        border-radius: 10px;
    }

    nav a {
        margin: 10px 0;
        text-align: center;
    }

    #menu-icon {
        display: block;
    }

    nav.active {
        display: flex;
    }

    .overlay_modal {
        display: none;
    }
}


/* Fotter */
footer {
    height: 60px;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.952);
    color: rgb(226, 253, 253);
    font-size: 14px;
    text-align: center;
}


/* Home */
.container_home {
    background-image: url(../img/LUGAR.jpg);
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-top: -80px;
    position: relative;
    display: grid;
    place-items: center;
    font-family: 'fuente-1', sans-serif;
    font-size: 80px;
    color: rgb(239, 239, 239);
    text-align: center;

}

@media (max-width: 768px) {
    .container_home {
        height: 60vh;

    }

}

.container_cicle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: transparent;
    position: relative;
}

.container_cicle .cicle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    margin-top: -100px;
}

.container_cicle .cicle_bottom {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: -100px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 100px;

}

.welcome h1 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.c_info_welcome {
    max-width: 75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.c_img_welcome {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
    font-family: 'fuente-1', sans-serif;
    letter-spacing: 1.3px;
}

.img_welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.c_img_welcome img {
    width: 450px;
    height: 200px;
    object-fit: cover;
}

@media (max-width: 480px) {
    .c_img_welcome img {
        max-width: 95%;
        height: auto;
    }
}

.container_secundary h1,
h4 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.main_check {
    background-image: url(../img//Recurso\ 3@2x-100.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    padding: 5rem 0;
    color: white;

}

.container_check {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    gap: 2rem;
}

@media (max-width: 768px) {
    .container_check {
        display: flex;
        flex-direction: column;
    }
}

.card_specials {
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 60% 35%;
    place-items: center;
    background-color: white;
    color: gray;
    gap: 1rem;
}

.card_specials img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card_specials_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
}

.card_specials_info p {
    align-items: start;
    font-size: 12px;
}

/* end home */

/* Menu */
.container_menu {
    height: 100%;

}

.menu {
    background-image: url("/img/Recurso\ 16.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.menu_container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 100px 0;

}

.menu_container p {
    font-size: 18px;
}

.menu_container h1 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
    font-size: 34px;
}

.menu_container h4 {
    margin: 5rem 0;
    font-size: 18px;
    text-align: center;
}

.container_subtitle {
    max-width: 60rem;
    display: grid;
    place-items: center;
    text-align: center;

}

.container_info_menu {
    background-image: url(../img/Recurso\ 1-100.jpg);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    /* margin: 5rem; */
}

@media (max-width: 992px) {
    .container_info_menu {
        height: auto;
    }
}

.card_menu_container {
    max-width: 85rem;
    width: 100%;
    background-color: rgb(226, 226, 226);
    margin-top: -40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media (max-width: 992px) {
    .card_menu_container {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
        margin-top: -3vh;
    }
}

.card_menu_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black(234, 234, 234);
    letter-spacing: 1.1px;
    font-size: 12px;
    padding: 3rem;
    gap: 1rem;
    text-align: center;
    height: 220px;
}

.card_menu_text h3,
strong {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.card_menu_text h3 {
    font-size: 18px;
}

.card_menu_text strong {
    font-size: 14px;
    color: rgb(179, 146, 26);
}

.card_menu_text p {
    font-size: 10px;
}

.card_menu_img {
    width: 100%;
    height: 220px;

}

@media (max-width: 768px) {
    .card_menu_img {
        height: 350px;
    }

}

.card_menu_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_menu_hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 4rem;
}

.card_menu_hours h1 {
    font-size: 4rem;
    font-family: 'fuente-1', sans-serif;
    margin: 0;
}

@media (max-width: 768px) {
    .card_menu_hours {
        height: 350px;
        font-size: 6rem;
    }

    .card_menu_hours h1 {
        font-family: 'fuente-1', sans-serif;
        font-size: 6rem;
    }
}

.button_menu {
    display: flex;
    align-items: center;
    min-height: 200px;
    justify-content: center;
    text-decoration: none;
}

.button_menu button {
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(179, 146, 26);
    color: white;
}

.button_menu button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(179, 146, 26);
    border: 1px solid rgb(179, 146, 26);
    letter-spacing: 1.2px;
    transition: all 0.5s ease;
}

/* end menu */

/* Contact */
.container_contact {
    height: 100%;
}

.contact_content_container {
    background-image: url(../img/Recurso\ 3@2x-100.jpg);
    min-height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    padding: 50px 0 10px 0;
}

@media (max-width: 768px) {
    .contact_content_container {
        height: 100%;
    }

}

.contact_grid_int {
    display: flex;
    flex-wrap: wrap;
    max-width: 100rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

@media (max-width: 992px) {
    .contact_grid_int {
        flex-direction: column;
        gap: 0rem
    }

    iframe {
        margin-bottom: 10rem;
    }
}

.content_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.content_info h3 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
    color: white;
}

.content_info a {
    text-decoration: none;
}

.content_info strong {
    color: rgb(179, 146, 26);
}

.content_info p {
    color: white;
}

.content_reservation {
    width: min(90%, 280px);
    height: 320px;
    background-color: rgb(23, 23, 23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 2rem;
    gap: 1rem;
}

.content_reservation h2 {
    margin-bottom: 3rem;
    text-align: center;
}

.content_reservation p {
    font-size: 12px;
    border-bottom: 2px dashed rgb(183, 183, 183);
    padding: 4px;
}

.content_reservation h2 {
    font-family: 'fuente-1', sans-serif;
    font-weight: normal;
}

.button_contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-decoration: none;
}

.button_contact button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    border: none;
    background-color: rgb(179, 146, 26);
    color: white;
}

.button_contact button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(179, 146, 26);
    border: 1px solid rgb(179, 146, 26);
    letter-spacing: 1.2px;
    transition: all 0.5s ease;
}

.container_cicle_black {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: transparent;
}

.container_cicle_black .cicle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(23, 23, 23);
    margin-top: -40px;
}

.container_cicle_black .cicle_bottom {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(23, 23, 23);
    margin-bottom: -40px;
}

/* end contact */


/* menu */

.menu {
    min-height: 100vh;
    padding-bottom: 5rem;
    padding-top: 80px;
    margin-top: -80px;
}

.menu-page-1 {
    display: grid;
    place-items: center;
}

.menu-page-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    max-width: 108rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
    gap: 1rem;
}

.chile-menu {
    position: absolute;
    top: 100px;
    right: 10px;
}

.container_left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.logo_menu {
    width: 100%
}

#taco_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 4rem;
    background-color: #DAA520;
    color: #FFF;
    position: relative;
    height: 100%;
}

.tacos_chile {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 50%;
}

.taco_info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.taco_info h1 {
    font-size: 6rem;
    text-align: center;
    margin: 0 !important;
    text-transform: uppercase;
}

#title,
.taco_description,
.taco_price {
    font-family: 'fuente-3', sans-serif;
    font-weight: 100 !important;
}

.taco_price {
    display: flex;
    justify-content: end;
    font-size: 26px;
    position: relative;
}

.span_2 {
    position: absolute;
    top: 2px;
    right: -15px;
    font-size: 14px;
}

.span_text {
    position: absolute;
    top: -14px;
    right: 4px;
    font-size: 14px;
}

.span_tacos {
    position: absolute;
    top: 2px;
    right: -15px;
    font-size: 14px;
}

.taco_description {
    font-size: 12px;
    font-family: 'fuente-5', sans-serif;
    font-weight: 200;
}





.container_right {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.happy-hour {
    text-align: center;
    margin-bottom: 20px;
}

.happy-hour h1 {
    font-size: 5rem;
    color: #DAA520;
    margin: 0;
    text-align: end;
}

.happy-hour p {
    margin: 0;
    color: #555;
    text-align: end;
}

.tortas-section,
.quesadillas-section {
    margin-bottom: 30px;
}

.tortas-section h2 {
    font-size: 8rem;
    color: #DAA520;
    margin: 70px 0;
    font-family: 'fuente-6', sans-serif;
}

.quesadillas-section h2,
.entradas-section h2 {
    font-size: 1.5em;
    color: #DAA520;
    margin-bottom: 10px;
}

.tortas-section {
    color: #555;
}

.tortas_card {
    display: grid;
    grid-template-columns: 5fr 1fr;
    width: 350px;
    gap: 2rem;
}

.details {
    font-size: 12px;
}

.tortas_card_right {
    width: 54px;
    position: relative;
    font-family: 'fuente-3', sans-serif !important;
    font-size: 24px;
    font-weight: 200;
    /* color: rgb(113, 113, 113); */
}

.tortas_card_right span {
    position: absolute;
    top: 2px;
    right: -7px;
    font-size: 14px;
}

.span {
    position: absolute;
    top: 2px;
    right: 6px !important;
    font-size: 14px;
}

.details,
.short-info,
.entradas-item .item-description {
    color: #777;
}

.choose-protein {
    border: 4px solid #DAA520;
    padding: 10px;
    margin-top: 10px;
    width: 350px;
}

.choose-protein h3 {
    margin: 0 0 10px 0;
    color: #DAA520;
}

.choose-protein ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0;
    margin: 0;
    list-style-position: inside;

}

.choose-protein ul li {
    margin-bottom: 5px;
    color: #555;
    font-size: 12px;
}

.entradas-section {
    padding: 2rem;
    border: 4px solid #DAA520;
    height: 100%;
}

.entradas-section h2 {
    text-align: center;
}

.entradas-item {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 250px;
    gap: 2rem;
}

.entradas-item_2 {
    display: flex;
    width: 150px;
    gap: 2rem;
}

.entradas-item .item-title {
    flex: 1;
    color: #DAA520;
    font-weight: bold;
}

.entradas-item_2 .item-title {
    flex: 1;
    color: #DAA520;
    font-weight: bold;
}

.entradas-item .item-price {
    flex: 0 0 100px;
    text-align: right;
    font-weight: bold;
    color: #DAA520;
}

.quesadillas-section {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.quesadillas-item {
    display: flex;
    width: 350px;
}

.quesadillas-item p {
    font-size: 12px;
}

.entradas-section-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    font-size: 12px;
    margin-bottom: 8rem;
}

.entradas-section-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    font-size: 12px;
    margin-bottom: 4rem;
}

.item-description {
    font-size: 12px;
}




.lunch_section {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    font-size: 12px;
    max-width: 108rem;
    margin: 0 auto;
    padding: 0 5rem;
}

.lunch_section h2 {
    color: #DAA520;
}

.lunch_section fieldset {
    border-top: 1rem solid black;
    border-right: none;
    border-bottom: none;
    border-left: none;
    text-align: center;
}

.lunch_section legend {
    padding: 0rem 2rem;
    color: #DAA520;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: 'fuente-6', sans-serif;
    letter-spacing: 20px;

}

.socials {
    display: flex;
    gap: 1rem;
    margin: 5rem 0;

}

.socials img {
    width: 3rem;
    height: 3rem;
}

.container_page_2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    max-width: 108rem;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
    gap: 8rem;
}

.page_2_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lunch_info {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 4rem;
}

.lunch_info .taco_price {
    font-family: 'fuente-3', sans-serif;
    font-weight: 100 !important;
    font-size: 26px;
}

.page_2_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lunch_page_2_right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 2rem;
    background-color: #4A4A4A;
    color: white;
}

.lunch_page_2_right h2 {
    color: #DAA520;
    font-weight: 200;
}

.lunch_page_2_right p {
    font-size: 10px;
}

.lunch_info_right {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
}

.lunch_info_right h4 {
    font-family: 'fuente-2', sans-serif;
    font-style: normal !important;
    letter-spacing: 5px;
    text-align: center;
    font-size: 24px;
    margin-top: 4rem;
}

.lunch_info_right p {
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.lunch_subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.lunch_subtitle p {
    font-weight: 600;
    text-align: center;
    min-width: 200px;
}

.page_3_into {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.container_page_3 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.page_3_box_specialties {
    border: 4px solid #DAA520;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}

.container_page_4 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container_page_4_into {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.container_page_4_content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
}

.container_page_4_content_left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.veggies_seafood_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.seafood_left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container_page_4_content_right {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 12px;
    gap: 3rem;
    background-color: #DAA520;
    padding: 2rem;
}

.container_page_4_content_right h1 {
    margin-bottom: 0 !important;
    text-align: center;
}

.fajitas_h2 {
    color: white !important;
    font-family: 'fuente-4', sans-serif !important;
    font-size: 26px;
    position: relative;
}

.span_3 {
    position: absolute;
    font-size: 8px;
    font-family: 'fuente-3', sans-serif !important;
    bottom: -2px;
    left: 0;
    color: white;
}

.span_3_2 {
    bottom: -14px !important;

}

.container_page_4_content_right p {
    font-size: 10px;
    text-align: center;
}

.container_page_4_end {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    place-items: center;
    margin-top: 5rem;
}

.container_page_4_end .lunch_info_right h4 {
    margin: 0;
}

.container_page_5 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 5rem;
}

.container_page_5_left {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.page_5_left {
    grid-template-columns: 4fr 1fr !important;
}

.container_page_5_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.select_premium_tequila {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    border: 4px solid #DAA520;
    padding: 2rem;
}

.select_premium_tequila_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.select_premium_tequila_content_card {
    display: flex;
    flex-direction: column;
}

.select_page_5_imgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
}

.select_page_5_imgs img {
    width: 100%;
}

.container_page_5_end {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 5rem;
    border: 4px solid #DAA520;
    padding: 2rem;
}

.container_page_5_end_left,
.container_page_5_end_right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.container_page_5_end_left h1 {
    font-size: 7rem !important;
}

.container_page_5_end_left_box {
    display: grid;
    grid-template-columns: 5fr 1fr;
    gap: 2rem;
}

@media (max-width: 1080px) {
    .lunch_section legend {
        font-size: 2rem;
        letter-spacing: 8px;
    }

    .page_3_box_specialties {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container_page_2 {
        display: flex;
        flex-direction: column;
    }

    .container_page_4_content {
        display: flex;
        flex-direction: column;
        width: min(100%, 500px);
        margin: 0 auto;
    }

    .container_page_4_end {
        display: flex;
        flex-direction: column;
    }

    .container_page_5,
    .container_page_5_end {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .container_page_5_end_left h1,
    .container_page_5_end_right h1 {
        text-align: center;
        font-size: 3rem !important;
    }
}

@media (max-width: 768px) {
    .menu-page-2 {
        display: flex;
        flex-direction: column;
    }

    .font-xl {
        font-size: 3rem !important;
    }

    .page_3_box_specialties {
        display: flex;
        flex-direction: column;
    }

    .lunch_page_2_right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .lunch_section {
        padding: 0 2rem;
    }

    .lunch_info {
        display: flex;
        /* flex-direction: column; */
    }

    .lunch_subtitle img {
        width: 150px;
        object-fit: cover;
    }

    .span,
    .tortas_card_right span {
        right: -15px !important;
    }

    .container_page_2 {
        display: flex;
        flex-direction: column;
    }

    .tortas_card,
    .choose-protein,
    .quesadillas-item {
        width: 100%;
    }

    .tortas_card_right {
        text-align: end;
    }



    .entradas-item {
        width: 100%;
    }

    .container_page_4_into {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .select_premium_tequila_content,
    .container_page_5_end_left_box {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 620px) {
    .lunch_subtitle img {
        display: none;
    }

    .lunch_info_right {
        max-width: 100%;
    }

    .container_page_4_into,
    .container_page_4_content_left {
        display: flex;
        flex-direction: column;
    }

    .lunch_section legend {
        letter-spacing: 2px;
    }

    /* .span_3_2 {
        bottom: -30px !important;
    } */
    .lunch_info .taco_price {
        font-size: 20px;
    }

    .lunch_info {
        justify-content: space-between;
    }
}